[submodule "2021-spring/seminars/sem_13/K-Nearest-Neighbors-with-Dynamic-Time-Warping"]
	path = 2021-spring/seminars/sem_13/K-Nearest-Neighbors-with-Dynamic-Time-Warping
	url = https://github.com/Pyatachokk/K-Nearest-Neighbors-with-Dynamic-Time-Warping.git
