*/catboost_info/*
/books
20??-*/videos/
20??-*/lectures/videos/
20??-*/seminars/videos/
*-checkpoint.ipynb
.vscode/settings.json
.env
*.xlsx
venv
*.csv
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.DS_Store
*m4a